
body {
    margin: 0;
    padding: 0;
    font-family: 'McLaren', sans-serif;
    background-color: gainsboro;
}

.header {
    background-color: #f5ba15;
    margin-bottom: 0.5rem;
    padding: 0.1rem 0.75rem;
    box-shadow: 0rem 0.2rem 0.2rem rgb(161, 159, 159);
    color: white;
}

.container{
    margin: 0.5rem;
    padding: 1rem 0.5rem;
    display: flex;
    flex-wrap: wrap;
}

.item {
    background-color: white;
    border-radius: 5px;
    padding: 1rem;
}

.footer {
    background-color: lightgray;
    color: darkgrey;
    text-align: center;
    padding: 0.25rem;
    position: absolute;
    bottom: 0;
    width: 100%;
}
